@charset "utf-8";

@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

 ::selection {
  background: #233d84;
  color: #ffffff;
 }

/* 숨김 콘텐츠 */
.a11y-hidden{
  /* background-color: red; */
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0,0,0,0);
  clip-path: polygon(0 0, 0 0, 0 0);
} 
/* 초기화 */
.reset-list{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
 
html{font-size: 10px;}

body * {
  -webkit-tap-highlight-color: rgba(255, 255, 200, 0.3);
  tap-highlight-color: rgba(255, 255, 200, 0.3);
 }

body{
  font-size: 1.6rem;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  margin: 0 auto;
  max-width: 960px;
  min-height: 100vh;
  color: #171717;
}

nav a {
  color: inherit;
  text-decoration: none;
 }
 
 a img {
  vertical-align: middle;
 }
 
 /* 헤더 */

 .app-header{
   background-color: rgba(255,255,255,0.5);
   position: fixed;
   top : 0;
   left:0;
   right:0;
   margin-bottom: 30px;
   border-bottom: 1px solid #e0e0e0;
   display : flex;
   justify-content: space-between;
}

 /* 버튼 디자인 */
 .button {
  cursor: pointer;
  border: none;
 } 
 .app-header .button .ir, .app-header .button .close {
  cursor: pointer;
 }

/* 로고 브랜드 */
.brand{
  margin-top: 0;
  margin-bottom: 0;
}
.brand a {
  display: block;
  width: 152px;
  height: 15px;
  padding: 26px;
  background: url("../images/ediya-logo.gif") no-repeat center;
  background-size: 152px 15px;
 }

/* 메뉴 열기 버튼 */
.app-header .button.is-open-menu {
  user-select: none;
  padding: 20px;
  background: #ffffff;
  transition: all 0.3s ease;
 }
 .app-header .button.is-open-menu .ir {
  display: block;
  width: 26px;
  height: 22px;
  background: url(../images/navigation-button.gif) no-repeat 50%;
 } 
 .app-header .button.is-open-menu:hover, .app-header .button.is-open-menu:focus {
  background: #f5f5f5;
 }

/* 메인 메뉴 */
.app-navigation{
  background: hsla(225, 57%, 10%, 0.9);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  padding-top: 60px;
  transition: all 0.4s cubic-bezier(0.66, -0.01, 0.3, 0.99);
  backdrop-filter: blur(2px);
  transform: translateX(105vw);
}  
.app-navigation.is-active {
  transform: translateX(0);
  transition: all 0.4s cubic-bezier(0.66, -0.01, 0.3, 0.99);
 }
 .app-navigation li {
  border-bottom: 1px solid hsla(225, 57%, 30%, 0.5);
 }
 .app-navigation a {
  display: block;
  padding: 1em;
  transition: all 0.4s ease;
 }
 .app-navigation a:hover, .app-navigation a:focus {
  background: #2e437c;
 }

 /* 메뉴 닫기 버튼 */

 .app-navigation .button.is-close-menu {
  position: absolute;
  z-index: 10;
  top: 15px;
  right: 15px;
  padding: 20px;
  background: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 4rem;
  transition: all 0.4s ease;
 }
 .app-navigation .button.is-close-menu:focus, 
 .app-navigation .button.is-close-menu:hover {
  transform: scale(1.2);
 }

 /* 메인 콘텐츠 */
 .app-main{
   margin-top: 90px;
   margin-bottom: 40px;
 }
 /* 이디야 음료 */
 .ediya-menu{
   background-color: yellow;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
 }
 .ediya-menu__item{
   border: 1px solid blue;
   flex: 1 1 40%;
   margin: 10px;
   position: relative;
 }
 .ediya-menu__item a {
  display: block;
  background: #f5f5f5;
  text-decoration: none;
  color: #464646;
 }
 .ediya-menu__item figure {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
 }
 .ediya-menu__item img {
  user-select: none;
  max-width: 330px;
  min-width: 240px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  transform: scale(0.85);
  transition: all 0.4s ease;
 }
 .ediya-menu__item a:hover img {
  transform: scale(0.95);
 }
 .ediya-menu__item figcaption {
  margin-top: -5px;
  margin-bottom: 25px;
 }
 .ediya-menu__item--detail {
  opacity: 0;
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #e0e0e0;
  padding: 30px 20px;
  background: rgba(255, 255, 255, 0.6);
  transition: all 0.6s ease;
 }
 .ediya-menu__item--detail.is-active {
  opacity: 1;
 }
 .ediya-menu__item--name {
  border-bottom: solid 2px #202023;
  padding-bottom: 1em;
  font-weight: 400;
  font-size: 1.8rem;
  color: #202022;
 }
 .ediya-menu__item--name span {
  display: block;
  font-size: 1.4rem;
  color: #737373;
 }