<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <title>CSS 박스모델</title>
  <link rel="stylesheet" href="../css/box.css" />
</head>
<body>
  <h1 class="heading">박스모델 학습하기</h1>
  <h2 class="subject">블록박스 다루기</h2>
  <p class="note">피가 <em>청춘 끝에 이</em>자신과 끓는 풍부하게 품으며, 봄바람이다. 과실이 청춘을 기쁘며, 굳세게 있다. 방지하는 청춘이 능히며, 봄바람이다. 과실이 청춘을 기쁘며, 굳세게 있다. 방지하는 청춘이 능히며, 봄바람이다. 과실이 청춘을 기쁘며, 굳세게 있다. 방지하는 청춘이 능히 것이다.</p>
  <ul>
    <li>블록박스</li>
    <li>인라인 박스</li>
    <li>인라인블록 박스</li>
    <li>플렉스 박스</li>
  </ul>
</body>
</html>