<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <title>CSS 선택자</title>
  <link rel="stylesheet" href="../css/selector.css" />
</head>
<body>
  <h1>CSS 선택자 학습하기</h1>
  <h1 title="선택자 학습">다양한 선택자</h1>
  <p>여기는 단락입니다</p>
  <p class="box">여기는 단락입니다</p>
  <p class="box" id="note">여기는 단락입니다</p>
  <p style="color: purple">여기는 단락입니다</p>
  <p>우리 천자만홍이 청춘은 기쁘며, 뭇 그들에게 힘차게 것이다. 바이며, 인간의 열락의 동력은 가는 것이다. 넣는 설산에서 발휘하기 끓는 끓는다. 간에 청춘에서만 구하지 보라. 가장 이상의 우는 시들어 목숨을 품으며, 봄바람이다. 위하여 열락의 끝에 군영과 있는가? 산야에 황금시대를 내는 얼음에 인도하겠다는 말이다. 열락의 꾸며 그러므로 약동하다. 낙원을 구하기 이것은 피가 찾아 기관과 칼이다. 하여도 열매를 소리다.이것은 원질이 그림자는 사막이다. 가진 부패를 실현에 피가 설산에서 보내는 가치를 심장은 길을 것이다.</p>
  <ul>
    <li><a href="https://www.multicampus.com">멀티캠퍼스</a></li>
    <li><a href="https://www.naver.com">네이버</a></li>
  </ul>
</body>
</html>